/* Logo */
.logo {
    color: purple;
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(184, 219, 78, 0.813);

}

/* Navigation Links */
.nav-links {
    display: flex;
    list-style: none;
    gap: 60px;
    text-align: center;
    background-color: black;
}

/* Navigation Link Style */
.nav-links a {
    color: pink;
    text-decoration: none;
    font-size: 20px;
    transition: 0.3s;
}

/* Hover Effect */
.nav-links a:hover {
    color: purple;
}

/* Hero Section */
.hero {
    height: 30rem;
    display: flex;
    align-items: center;  
    text-align: center;
    background: lightgreen;
    padding: 20px;
}

/* Hero Heading */
.hero-content h1 {
    font-size: 55px;
    margin-bottom: 40px;
    color: white;
}

/* Hero Paragraph */
.hero-content p {
    font-size: 22px;
    color: white;
    margin-bottom: 25px;
}

/* Gallery Section */
.gallery {
    padding: 60px 10px;
    text-align: center;
    text-align: center;
    color: green;
    background-color:bisque
    
}


/* Gallery Container */
.gallery-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
   
    
}

/* Gallery Images */
.gallery-item img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(255, 165, 0, 0.54);
    height: 200px;
    width: 400px;
}

/* Hover Effect on Images */
.gallery-item img:hover {
    transform: scale(1.05);
}

.contact {
    background-color: lightblue;
    padding: 50px 20px;
    text-align: center;

}
.contact h1 {
    font-size: 40px;
    color: darkblue;
}
.contact p {
    font-size: 20px;
    color: palevioletred;
    text-align: center;
    
}
.contact ol {
    list-style: none;
    padding: 10px;
    font-size: 18px;
    color: purple;
    text-align: center;
}
.about {
    background-color: pink;
    padding: 50px 20px;
    text-align: center;
}
.about h1 {
    font-size: 40px;
    color: lightskyblue;
   
}
.about p {
    font-size: 20px;
    color: purple;
    text-align: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
footer {
    background-color: rgb(229, 235, 148);
    padding: 20px;
    text-align: center;
    color: rgb(238, 119, 196);
    font-size: 18px;
}
